[Desktop Entry]
Type=XSession
Exec=@CMAKE_INSTALL_FULL_BINDIR@/start_BifrostShell
TryExec=@CMAKE_INSTALL_FULL_BINDIR@/start_BifrostShell
DesktopNames=KDE
Name=BifrostShell
Name[ca]=BifrostShell
Name[ca@valencia]=BifrostShell
Name[cs]=BifrostShell
Name[de]=BifrostShell
Name[el]=BifrostShell
Name[en_GB]=BifrostShell
Name[es]=BifrostShell
Name[et]=BifrostShell
Name[eu]=BifrostShell
Name[fi]=BifrostShell
Name[fr]=BifrostShell
Name[gl]=BifrostShell
Name[it]=BifrostShell
Name[ko]=BifrostShell
Name[lt]=BifrostShell
Name[nl]=BifrostShell
Name[pl]=BifrostShell
Name[pt]=BifrostShell
Name[pt_BR]=BifrostShell
Name[ro]=BifrostShell
Name[ru]=BifrostShell
Name[sl]=BifrostShell
Name[uk]=BifrostShell
Name[zh_TW]=BifrostShell
