[Desktop Entry]
Exec=BifrostShell
X-DBUS-StartupType=Unique
Name=MidgardOS Desktop Workspace
Name[en_GB]=MidgardOS Desktop Workspace
Type=Application
NoDisplay=true
Hidden=false
